
html {
  overflow-x: hidden;
  min-height: 100vh;
  font-family: 'Helvetica, sans-serif';
}

body {
  line-height: 1.2;
  cursor: default;
  color: #231f20;
}

main {
  position: relative;
  min-height: 100vh;
}

/*** WEBDOOR  ***/

.webdoor{
  position: relative;
  width: 100vw;
  height: 370px;
  background-image:url('img/background-main.jpg');
  background-size: 800%;
  color: #FFF;
  text-align: center;
  background-position: 0% 49.5%;
}

.webdoor .w-content{
  width: 100%;
}

.webdoor h1{
  font-size: 40px;
  line-height: 45px;
  padding: 0px 10px;
  font-family: Arial Black;
  text-transform: uppercase;
  letter-spacing: -.5px;
}

.webdoor p{
  font-size: 18px;
  line-height: 24px;
  margin-top: 20px;
  padding: 0px 70px;
  margin-bottom: 0px;
  letter-spacing: -0.5px;
}

.webdoor button{
  font-size: 18px;
  margin-top: 20px;
}

/*** STEPS  ***/
.steps{
  position: relative;
  width: 100%;
  padding: 35px 0px;
}

.steps .row{
  padding: 0px;
  margin: 0px 10px;
}

.steps li{
  list-style-type: none; 
  margin-bottom: 20px;
  padding: 0px 19px;
}

.steps h2{
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  font-weight: bold;
}

.steps span{
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  display: block;
  width: 100%;
}

.steps p{
  font-size: 15px;
  line-height: 23px;
  margin-top: 20px;
}


/** FORM **/
#apply-error,
  #apply-success {
    display: none;
  }

form span.f-error{
  color: red;
  font-size: 12px;
  display: none;
  margin-top: 10px;
}

form span.show{
  display: block;
}

form input.f-error{
  border-color:red; 
}


/*** FOOTER ***/
footer{
  position: relative;
  width: 100%;
  text-align: center;
  display: block; 
  font-size: 12px;
}


@media ( max-width: 600px ) {
  .webdoor h1{
    font-size: 38px;
    line-height: 44px;
  }

  .webdoor p{
    padding: 0px 20px;
    font-size: 16px;
  }

  .webdoor button{
    font-size: 16px;
  }

  .steps p{
    font-size: 14px;
    line-height: 21px;
  }

  .steps span{
    font-size: 12px;
  }
}